[submodule "reference_projects/jean"]
	path = reference_projects/jean
	url = https://github.com/coollabsio/jean
[submodule "reference_projects/t3code"]
	path = reference_projects/t3code
	url = https://github.com/pingdotgg/t3code
[submodule "reference_projects/CodexMonitor"]
	path = reference_projects/CodexMonitor
	url = https://github.com/Dimillian/CodexMonitor
[submodule "reference_projects/1Code"]
	path = reference_projects/1Code
	url = https://github.com/21st-dev/1Code
[submodule "reference_projects/orca"]
	path = reference_projects/orca
	url = https://github.com/stablyai/orca
[submodule "third_party/xterm"]
	path = third_party/xterm
	url = https://github.com/shelizi/xterm2.git
	branch = alera
[submodule "third_party/dart_terminal"]
	path = third_party/dart_terminal
	url = https://github.com/leynier/dart_terminal.git
	branch = next
[submodule "reference_projects/code_forge"]
	path = reference_projects/code_forge
	url = https://github.com/heckmon/code_forge.git
[submodule "reference_projects/flutter_directory_tree"]
	path = reference_projects/flutter_directory_tree
	url = https://github.com/omar-hanafy/flutter_directory_tree.git
[submodule "reference_projects/directory_tree"]
	path = reference_projects/directory_tree
	url = https://github.com/omar-hanafy/directory_tree.git
